<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78340777097-brnstaqqttko6n21ogshvlslab3phf3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78340777097-brnstaqqttko6n21ogshvlslab3phf3i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>78340777097-ua733sn118sm6s8v8ddnvf2q42e64lm1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDmSf_woAtM8uSTBoEfHnqLFkYdGK7NEnI</string>
	<key>GCM_SENDER_ID</key>
	<string>78340777097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dariyproject</string>
	<key>PROJECT_ID</key>
	<string>dev0208</string>
	<key>STORAGE_BUCKET</key>
	<string>dev0208.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78340777097:ios:a334e6e03c0af5bb425258</string>
</dict>
</plist>